// src/app/post-detail/post-detail.component.scss
.post-detail {
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;

  .error {
    color: red;
  }

  mat-card {
    margin-top: 1rem;
  }
}
