// src/app/home/home.component.scss
.home {
  max-width: 90%;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
}

.user-form-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.full-width {
  width: 100%;
}

mat-form-field {
  margin-bottom: 1rem;
}
