// src/app/home/home.component.scss
.home {
  max-width: 90%;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
}

.user-form-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.users-list {
  flex-grow: 4;
}

.users-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.user-card {
  width: calc(50% - 1rem);
}

.full-width {
  width: 100%;
}

mat-form-field {
  margin-bottom: 1rem;
}
